.mainMenu {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	justify-content: flex-start;
}

.mainMenu li a {
	text-transform: uppercase;
	color: var(--color-text-grey);
	padding: 1rem 0;
	display: block;
	font-weight: 700;
}

.mainMenu a:global(.active) {
	color: var(--colot-text-default);
	border-bottom: 3px solid var(--color-text-default);
}
